In [21]:
import pandas as pd
import numpy as np
import datetime as dt
#import matplotlib.pyplot as plt
import warnings
import itertools
import numpy as np

import pandas as pd
import statsmodels.api as sm
import datetime as dt
import warnings
import itertools
import numpy as np

import pandas as pd
import statsmodels.api as sm

In [22]:
df=pd.read_csv('WA.csv')

In [23]:
fd=df[(df['OFFRNG_ID']==190)  & (df['GEO_ID']==224)]

In [24]:
fd=fd.drop('NO_OF_OPRTNTY_CREATD',axis=1)

In [25]:
 fd=fd.drop('NO_OF_WINS',axis=1)

In [26]:

fd=fd.drop('OPRTNTY_CREATD_AMT',axis=1)

In [27]:
fd

         FULL_DATE  OFFRNG_ID  GEO_ID  OPRTNTY_WON_AMT
831     2017-09-18        190     224              0.0
1938    2017-12-14        190     224              0.0
2944    2018-04-04        190     224         102268.0
3345    2018-06-18        190     224              0.0
3681    2018-01-01        190     224          61025.0
4229    2018-05-01        190     224          23427.0
5071    2018-05-25        190     224              0.0
5184    2018-08-17        190     224              0.0
5461    2018-08-15        190     224              0.0
5692    2018-03-12        190     224              0.0
7581    2017-10-18        190     224              0.0
8268    2018-07-10        190     224              0.0
9204    2017-02-01        190     224          29832.0
9410    2017-02-01        190     224          62601.0
10225   2018-11-28        190     224              0.0
10402   2017-12-29        190     224          12480.0
11549   2018-08-14        190     224              0.0
11657   2018-12-28        190     224         240000.0
12179   2017-06-20        190     224              0.0
12845   2018-05-22        190     224              0.0
12960   2018-09-17        190     224              0.0
13428   2019-02-01        190     224           5527.0
14488   2018-06-18        190     224              0.0
14528   2018-03-08        190     224              0.0
15256   2018-11-21        190     224              0.0
15765   2017-07-10        190     224              0.0
16492   2017-03-01        190     224             40.0
21310   2017-05-22        190     224              0.0
21968   2018-04-04        190     224              0.0
23285   2018-05-09        190     224              0.0
...            ...        ...     ...              ...
190594  2017-03-29        190     224              0.0
191166  2018-02-19        190     224              0.0
191651  2017-01-01        190     224          14708.0
193395  2017-05-01        190     224          23858.0
193572  2017-04-28        190     224              0.0
194871  2018-06-18        190     224              0.0
195106  2018-01-17        190     224              0.0
195227  2018-01-10        190     224          20231.0
196715  2019-01-01        190     224          27300.0
197078  2018-03-09        190     224              0.0
197408  2017-07-07        190     224          50000.0
197418  2017-07-08        190     224         194400.0
198161  2018-04-27        190     224              0.0
198563  2017-07-19        190     224              0.0
200673  2019-02-18        190     224              0.0
201811  2019-02-20        190     224              0.0
204595  2019-02-20        190     224              0.0
205823  2019-02-26        190     224              0.0
207719  2019-02-18        190     224              0.0
208247  2019-02-28        190     224              0.0
208708  2019-02-28        190     224          50000.0
210788  2019-02-26        190     224              0.0
211860  2019-02-19        190     224              0.0
212827  2019-02-19        190     224              0.0
214057  2019-02-28        190     224         456872.0
216280  2019-02-28        190     224              0.0
217090  2019-02-28        190     224         110000.0
220685  2019-02-27        190     224              0.0
222085  2019-02-20        190     224          30000.0
222741  2019-02-25        190     224              0.0

[281 rows x 4 columns]

In [28]:
 fd=fd.drop('OFFRNG_ID',axis=1)

In [29]:

fd=fd.drop('GEO_ID',axis=1)

In [30]:
fd

         FULL_DATE  OPRTNTY_WON_AMT
831     2017-09-18              0.0
1938    2017-12-14              0.0
2944    2018-04-04         102268.0
3345    2018-06-18              0.0
3681    2018-01-01          61025.0
4229    2018-05-01          23427.0
5071    2018-05-25              0.0
5184    2018-08-17              0.0
5461    2018-08-15              0.0
5692    2018-03-12              0.0
7581    2017-10-18              0.0
8268    2018-07-10              0.0
9204    2017-02-01          29832.0
9410    2017-02-01          62601.0
10225   2018-11-28              0.0
10402   2017-12-29          12480.0
11549   2018-08-14              0.0
11657   2018-12-28         240000.0
12179   2017-06-20              0.0
12845   2018-05-22              0.0
12960   2018-09-17              0.0
13428   2019-02-01           5527.0
14488   2018-06-18              0.0
14528   2018-03-08              0.0
15256   2018-11-21              0.0
15765   2017-07-10              0.0
16492   2017-03-01             40.0
21310   2017-05-22              0.0
21968   2018-04-04              0.0
23285   2018-05-09              0.0
...            ...              ...
190594  2017-03-29              0.0
191166  2018-02-19              0.0
191651  2017-01-01          14708.0
193395  2017-05-01          23858.0
193572  2017-04-28              0.0
194871  2018-06-18              0.0
195106  2018-01-17              0.0
195227  2018-01-10          20231.0
196715  2019-01-01          27300.0
197078  2018-03-09              0.0
197408  2017-07-07          50000.0
197418  2017-07-08         194400.0
198161  2018-04-27              0.0
198563  2017-07-19              0.0
200673  2019-02-18              0.0
201811  2019-02-20              0.0
204595  2019-02-20              0.0
205823  2019-02-26              0.0
207719  2019-02-18              0.0
208247  2019-02-28              0.0
208708  2019-02-28          50000.0
210788  2019-02-26              0.0
211860  2019-02-19              0.0
212827  2019-02-19              0.0
214057  2019-02-28         456872.0
216280  2019-02-28              0.0
217090  2019-02-28         110000.0
220685  2019-02-27              0.0
222085  2019-02-20          30000.0
222741  2019-02-25              0.0

[281 rows x 2 columns]

In [31]:
 fd['FULL_DATE'] = pd.to_datetime(fd['FULL_DATE'], errors='coerce')

In [32]:
per = fd.FULL_DATE.dt.to_period("M")  # new way to get the same

data = fd.groupby(per)

data=data.sum()

In [33]:
data

           OPRTNTY_WON_AMT
FULL_DATE
2017-01           481418.0
2017-02           144585.0
2017-03           275040.0
2017-04                0.0
2017-05            23858.0
2017-06            65000.0
2017-07           348396.0
2017-08           142061.0
2017-09            10260.0
2017-10           138962.0
2017-11           365000.0
2017-12           224033.0
2018-01           942700.0
2018-02                0.0
2018-03            82000.0
2018-04           102268.0
2018-05           969427.0
2018-06                0.0
2018-07           432433.0
2018-08                0.0
2018-09             5000.0
2018-10            92000.0
2018-11                0.0
2018-12          1406155.0
2019-01           473811.0
2019-02           652399.0

In [34]:
data.index

PeriodIndex(['2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
             '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
             '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
             '2019-01', '2019-02'],
            dtype='period[M]', name='FULL_DATE', freq='M')

In [15]:
data

           OPRTNTY_WON_AMT
FULL_DATE
2017-01           481418.0
2017-02           144585.0
2017-03           275040.0
2017-04                0.0
2017-05            23858.0
2017-06            65000.0
2017-07           348396.0
2017-08           142061.0
2017-09            10260.0
2017-10           138962.0
2017-11           365000.0
2017-12           224033.0
2018-01           942700.0
2018-02                0.0
2018-03            82000.0
2018-04           102268.0
2018-05           969427.0
2018-06                0.0
2018-07           432433.0
2018-08                0.0
2018-09             5000.0
2018-10            92000.0
2018-11                0.0
2018-12          1406155.0
2019-01           473811.0
2019-02           652399.0

In [16]:

data = data.ix[:-2]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [35]:
data

           OPRTNTY_WON_AMT
FULL_DATE
2017-01           481418.0
2017-02           144585.0
2017-03           275040.0
2017-04                0.0
2017-05            23858.0
2017-06            65000.0
2017-07           348396.0
2017-08           142061.0
2017-09            10260.0
2017-10           138962.0
2017-11           365000.0
2017-12           224033.0
2018-01           942700.0
2018-02                0.0
2018-03            82000.0
2018-04           102268.0
2018-05           969427.0
2018-06                0.0
2018-07           432433.0
2018-08                0.0
2018-09             5000.0
2018-10            92000.0
2018-11                0.0
2018-12          1406155.0
2019-01           473811.0
2019-02           652399.0

In [36]:
p = d = q = range(0, 2)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in pdq]
print('Examples of parameter combinations for Seasonal ARIMA...')
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[1]))
print('SARIMAX: {} x {}'.format(pdq[1], seasonal_pdq[2]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[3]))
print('SARIMAX: {} x {}'.format(pdq[2], seasonal_pdq[4]))

Examples of parameter combinations for Seasonal ARIMA...
SARIMAX: (0, 0, 1) x (0, 0, 1, 12)
SARIMAX: (0, 0, 1) x (0, 1, 0, 12)
SARIMAX: (0, 1, 0) x (0, 1, 1, 12)
SARIMAX: (0, 1, 0) x (1, 0, 0, 12)

In [18]:
# p = d = q = range(0, 2)
# pdq = list(itertools.product(p, d, q))
# seasonal_pdq = [(x[0], x[1], x[2], 12) for x in pdq]
  

# for param in pdq:
#     for param_seasonal in seasonal_pdq:
#         try:
#             mod = sm.tsa.statespace.SARIMAX(data,
#                                             order=param,
#                                             seasonal_order=param_seasonal,
#                                           enforce_stationarity=False,
#                                           enforce_invertibility=False)
#             results = mod.fit()
#         except:
#             continue
# mod = sm.tsa.statespace.SARIMAX(fd,
#                               order=(1, 1, 0),
#                               seasonal_order=(0, 1, 0, 12),
#                               enforce_stationarity=False,
#                               enforce_invertibility=False)
# results = mod.fit()

/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/statespace/representation.py:375: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return matrix[[slice(None)]*(matrix.ndim-1) + [0]]

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

In [37]:
for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(data,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                            enforce_stationarity=False,
                                            enforce_invertibility=False)
            results = mod.fit()
            print('ARIMA{}x{}12 - AIC:{}'.format(param, param_seasonal, results.aic))
        except:
            continue

ARIMA(0, 0, 0)x(0, 0, 0, 12)12 - AIC:724.0517691145702
ARIMA(0, 0, 0)x(0, 1, 0, 12)12 - AIC:382.9590899312645
ARIMA(0, 0, 0)x(1, 0, 0, 12)12 - AIC:410.6371312754941
ARIMA(0, 0, 0)x(1, 1, 0, 12)12 - AIC:60.63468817949895
ARIMA(0, 0, 1)x(0, 0, 0, 12)12 - AIC:696.7803332688194
ARIMA(0, 0, 1)x(0, 1, 0, 12)12 - AIC:351.98949062835777
ARIMA(0, 0, 1)x(1, 0, 0, 12)12 - AIC:409.74031318827093
ARIMA(0, 0, 1)x(1, 1, 0, 12)12 - AIC:62.46079932561808
ARIMA(0, 1, 0)x(0, 0, 0, 12)12 - AIC:702.6628584801474
ARIMA(0, 1, 0)x(0, 1, 0, 12)12 - AIC:367.4834958361602
ARIMA(0, 1, 0)x(1, 0, 0, 12)12 - AIC:389.3832266918443
ARIMA(0, 1, 0)x(1, 1, 0, 12)12 - AIC:nan
ARIMA(0, 1, 1)x(0, 0, 0, 12)12 - AIC:662.7672786704143
ARIMA(0, 1, 1)x(0, 1, 0, 12)12 - AIC:325.061626710363
ARIMA(0, 1, 1)x(1, 0, 0, 12)12 - AIC:380.7812002461343
ARIMA(0, 1, 1)x(1, 1, 0, 12)12 - AIC:34.48102895786438
ARIMA(1, 0, 0)x(0, 0, 0, 12)12 - AIC:723.323100035452
ARIMA(1, 0, 0)x(0, 1, 0, 12)12 - AIC:379.11783058362994
ARIMA(1, 0, 0)x(1, 0, 0, 12)12 - AIC:380.46208571252487
ARIMA(1, 0, 0)x(1, 1, 0, 12)12 - AIC:33.85521773725389
ARIMA(1, 0, 1)x(0, 0, 0, 12)12 - AIC:692.6788494768068
ARIMA(1, 0, 1)x(0, 1, 0, 12)12 - AIC:353.0823427873776
ARIMA(1, 0, 1)x(1, 0, 0, 12)12 - AIC:380.4879911193719
ARIMA(1, 0, 1)x(1, 1, 0, 12)12 - AIC:36.05705270575892
ARIMA(1, 1, 0)x(0, 0, 0, 12)12 - AIC:694.0123699793807
ARIMA(1, 1, 0)x(0, 1, 0, 12)12 - AIC:356.6620429528502
ARIMA(1, 1, 0)x(1, 0, 0, 12)12 - AIC:357.3480208425736

/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/statespace/mlemodel.py:934: RuntimeWarning: invalid value encountered in true_divide
  (self.nobs - self.ssm.loglikelihood_burn)

ARIMA(1, 1, 0)x(1, 1, 0, 12)12 - AIC:6.0
ARIMA(1, 1, 1)x(0, 0, 0, 12)12 - AIC:664.3730492926082
ARIMA(1, 1, 1)x(0, 1, 0, 12)12 - AIC:323.0018215625551
ARIMA(1, 1, 1)x(1, 0, 0, 12)12 - AIC:353.2970609620424
ARIMA(1, 1, 1)x(1, 1, 0, 12)12 - AIC:8.0

In [38]:
import statsmodels.api as sm
mod = sm.tsa.statespace.SARIMAX(data,
                                order=(1, 1, 0),
                                seasonal_order=(0, 1, 0, 12),
                                enforce_stationarity=False,
                                enforce_invertibility=False)
results = mod.fit()
print(results.summary().tables[1])

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.7588      0.282     -2.689      0.007      -1.312      -0.206
sigma2      3.395e+11   6.83e-14   4.97e+24      0.000    3.39e+11    3.39e+11
==============================================================================

In [39]:
pred = results.get_prediction(start=pd.to_datetime('2018-01-01'), dynamic=False)
pred_ci = pred.conf_int()

In [40]:
pred_uc = results.get_forecast(steps=3)

In [41]:
x=pred_uc.predicted_mean

In [42]:
x.astype(int)

2019-03   -116412
2019-04    549434
2019-05    926740
Freq: M, dtype: int64

In [ ]:
Shetty Vignesh suresh mr [10:41 AM]
p = d = q = range(0, 2)
pdq = list(itertools.product(p, d, q))
seasonal_pdq = [(x[0], x[1], x[2], 12) for x in pdq]
  

for param in pdq:
    for param_seasonal in seasonal_pdq:
        try:
            mod = sm.tsa.statespace.SARIMAX(data,
                                            order=param,
                                            seasonal_order=param_seasonal,
                                          enforce_stationarity=False,
                                          enforce_invertibility=False)
            results = mod.fit()
        except:
            continue
mod = sm.tsa.statespace.SARIMAX(fd,
                              order=(1, 1, 0),
                              seasonal_order=(0, 1, 0, 12),
                              enforce_stationarity=False,